extends index

include device_list

block content

  div.container-fluid

    div.row.justify-content-lg-between
      div.col-4
        h4.pagetitle Control
      div.col-8
        div.row.justify-content-end
          div.col-4.col-lg-2.step.small.zero
            a(href='/') Intro
          div.col-4.col-lg-2.step.small.two
            a(href='/register') Register

    div.row.justify-content-lg-start
      div.col-5.nodevices.hidden There are no devices registered under your account.

      +device_list('Select Device')

      div.col-sm-12.col-md-6.col-lg-9.control.hidden
        div.row.align-items-center
          div.col-sm-4.col-md-4.label Device Id
          div#deviceid.col-sm-8.col-md-8.value not available

        div.row.align-items-center
          div.col-sm-4.col-md-4.question Switch

          div.col-sm-4.col-md-8.switch
            input#switch.cmn-toggle.cmn-toggle-round(type='checkbox')
            label(for='switch')

        div.details
          hr
          div.row.align-items-center
            div.col-sm-4.col-md-4.question Duty Cycle Restriction

            div.col-sm-4.col-md-8.dutycycle
              input#dutycycle.cmn-toggle.cmn-toggle-round(type='checkbox', checked='checked')
              label(for='dutycycle')

          div.row.align-items-center
            div.col-sm-4.col-md-4.question LoRaWAN Class
            div.lorawanclass.col-sm-8.col-md-8.value
              input(type='radio' name='lorawanclass' value='3')
              span.label Class A
              input(checked='checked' type='radio' name='lorawanclass' value='2')
              span.label Class C

          div.row.align-items-center
            div.col-sm-4.col-md-4.label Last Message
            div#uplinkdata.col-sm-8.col-md-8.value -

          div.row.align-items-center
            div.col-sm-4.col-md-4.question Uplink Scheduler (seconds)
            div.timer.col-sm-8.col-md-8.value
              input(type='radio' name='timer' value='5')
              span.label 5
              input(type='radio' name='timer' value='10')
              span.label 10
              input(checked='checked' type='radio' name='timer' value='15')
              span.label 15
              input(type='radio' name='timer' value='20')
              span.label 20
              input(type='radio' name='timer' value='30')
              span.label 30

          div.row.align-items-center
            div.col-sm-2.col-md-3.question
              input#removedev.pushbtn(value='Remove Device',type='button')

block append scripts
  script(src='/javascripts/control.js')
