block header

  div.container-fluid.header

    div.row.justify-content-lg-around

        div.col-lg-4
          div.dmb
            a(href='/')
              h1= title
                div.status.rounded-circle
            div.message

        div.col-lg-8
          include account.pug
