block intro

  div.container-fluid

    h4.pagetitle SmartSocket How-To

    div.row.intro.align-items-left
      div.col-sm-4
        div.step.one
          | Plug In

      div.col-sm-4
        div.step.two
          a(href='/register') Register

      div.col-sm-4
        div.step.three
          a(href='/control') Control
