block uplinks

  div(class='container-fluid fixed-bottom rounded-bottom border border-left-0 border-right-0 border-secondary')
    ul(class='dmbcomm' id='messages')
    ul(class='dmbcomm' id='alerts')
    ul(class='dmbcomm' id='logs')
